.style-switcher .language
{
    display: flex;
}

.style-switcher .language .flag 
{
    flex: 0 0 30%;
    padding: 15px;
    height: 50px;
}

.style-switcher .language .lang.active
{
    border: 20% solid var(--bg-black-100);
    border-radius: 10%;
    background-color: var(--skin-color);
}